# Обычные скомпилированные файлы C++
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.a
*.lib

# Папки для сборки (CMake и другие)
build/
bin/
out/

# Системный мусор macOS
.DS_Store
.AppleDouble
.LSOverride
*.dSYM/

# Настройки редактора VS Code
.vscode/

# Исключения для твоих конкретных бинарников без расширения (нужно вписывать вручную)
# main
# tree

one
two
tree
0263a